*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
.container{
	display: flex;
	justify-content: center;
	/* align-items: center; */
	padding: 15px;
	min-height: 100vh;
	background: #5691d5;
	background: linear-gradient(282deg, #009dff, #54bdff);
}
.fileOutput{
	max-width: 40%;
	font-size: 12px;
	padding: 10px;
}
.wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
	width: 60%;
	/* min-height: 100vh; */
	/* background: #5691d5; */
	/* background: linear-gradient(282deg, #009dff, #54bdff); */
}
.box{
	max-width: 500px;
	background: #fff;
	padding: 30px;
	width: 100%;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.upload-area-title{
	text-align: center;
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 600;
}
.uploadlabel{
	width: 100%;
	min-height: 100px;
	background: #17a7ff0d;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 3px dashed #18a7ff82;
	cursor: pointer;
}
.uploadlabel span{
	font-size: 70px;
	color: #18a7ff;
}
.uploadlabel p{
	font-size: 20px;
	color: #18a7ff;
	font-weight: 800;
	font-family: cursive;
}
.uploaded{
	margin: 10px 0;
	font-size: 16px;
	font-weight: 700;
	color: #a5a5a5;
}
.filewrapper{
	height: 100px;
	overflow: auto;
}
.showfilebox{
	display:flex;
	align-items:center;
	justify-content: space-between;
	margin: 10px 0;
	padding: 5px 15px;
	box-shadow: #0000000d 0px 0px 0px 1px, #d1d5db3d 0px 0px 0px 1px inset;
	/* font-size: 12px !important; */
}
.showfilebox .left{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}
.filetype{
	background: #18a7ff;
	color: #fff;
	padding: 5px 15px;
	font-size: 10px;
	text-transform: capitalize;
	font-weight:700;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}
.left h3{
	font-weight:600;
	font-size: 10px;
	margin: 0;
	color: #292F42;
}
.right span{
	background: #18a7ff;
	color: #fff;
	width: 25px;
	height: 25px;
	font-size: 25px;
	line-height: 25px;
	display: inline-block;
	text-align: center;
	font-weight: 700;
	cursor: pointer;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
.customStyle{
	background: #fff;
  word-wrap: break-word;
}
.custom-select{
	width: 100%;
    height: 110px;
}
.custom-select select{
	width: 100%;
    margin: 0 auto;
    height: 40px;
    position: relative;
    top: 30%;
    /* left: 20%; */
    background: lightskyblue;
}
textarea{
	position: absolute;
	bottom: 44px;
	width: 38%;
	right: 20px;
	height: 100px;
	padding-bottom: 10px;
	padding-top: 10px;
}
button{
	position: absolute;
	bottom: 20px;
	width: 38%;
	right: 20px;
	/* color: blue; */
	background: linear-gradient(282deg, #009dff, #54bdff);
	height: 25px;
	cursor: pointer;
	color: #fff;
}
.submitBtn{
	width: 100%;
    position: relative;
    top: 0;
    left: 1px;
    margin-top: 15px
}
.inputSearch{
	width: 90%;
    position: absolute;
    height: 40px;
    padding: 10px;
	border-radius: 10px;
	border-color: #fff;
}